/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
    font-family: Roboto,-apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei",  "Helvetica Neue", Arial, sans-serif;
	vertical-align: baseline;
	}
*,*::before,*::after {
	box-sizing: border-box;
}
h1 {
	font-size: 80px;
	line-height: 106px;
	font-weight: 900;
}
h2 {
	font-size: 64px;
	line-height: 84px;
    font-weight: 500;
}

/* ----------------font-size----------------- */
.font-size1 {
	font-size: 24px;
	line-height: 42px;
	font-weight: 700;
}
.font-size2 {
	font-size: 24px;
	line-height: 36px;
	font-weight: 700;
}
.font-size3 {
	font-size: 24px;
	line-height: 42px;
	font-weight: 500;
}
.font-size4 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
}


/* -------------------margin top----------------- */
.mt-1 {
	margin-top: 4px;
}
.mt-2 {
	margin-top: 8px;
}
.mt-3 {
	margin-top: 12px;
}
.mt-4 {
	margin-top: 16px;
}
.mt-5 {
	margin-top: 20px;
}
.mt-6 {
    margin-top: 24px;
}
.mt-7 {
	margin-top: 28px;
}
.mt-8 {
	margin-top: 32px;
}
.mt-10 {
	margin-top: 40px;
}
.mt-12 {
	margin-top: 48px;
}
.mt-14 {
	margin-top: 56px;
}
.mt-16 {
	margin-top: 64px;
}
.mt-17 {
	margin-top: 68px;
}
.mt-36 {
	margin-top: 144px;
}


.container {
	margin: 0 auto;
	width: 1200px;
	
}
.banner {
	height: 958px;
    background-image: url(\img\banner.png);
	background-position: center, center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.banner-icon {
	display: flex;
	justify-content: space-between;
}
.banner-icon li {
	margin-right: 16px;
	height: 60px;
	width: 60px;
}
.about {
	text-align: center;
}
.about img {
	width: 384px;
	height: 384px;
}

.about li:nth-child(4) {
	border-bottom: 1px solid black;
	width: 384px;
	margin: 0 auto;
	padding-top: 24px;

}
.about ul div {
	border-radius: 50%;
	background: #891818;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 16px;
}
.brand {
	background-color: #000;
	text-align: center;
	color: #FFF;
	padding-bottom: 160px;
}
.brand-img1 {
	width: 792px;
	height: 416px;
}
.brand-img2, .brand-img3 {
	width: 588px;
	height: 416px;

}
.brand ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container h2 {
	padding-top: 56px;
}
.brand-img2 {
	margin-right: 12px;
}
.brand-img3 {
	margin-left: 12px;
}

.works {
	text-align: center;
	color: #000;
}
.work-content ul {
	display: flex;
	justify-content: space-between;
}
.work-content ul:nth-child(1) img {
	width: 384px;
	height: 528px;
	
}
.work-content ul:nth-child(2) img {
	width: 588px;
	height: 424px;
}
.work-content ul:nth-child(3) img {
	width: 384px;
	height: 280px;
}
.work-content p {
	font-size: 20px;
	line-height: 42px;
	font-weight: 500;
}

.contact {
	background: #000;
	color: #FFF;
	text-align: center;
}
.contact li {
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
	margin-top: 16px;
}
.contact h2 {
	padding-top: 64px;
}
.contact ul {
	padding-bottom: 64px;